@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0 auto;
    background-color: #d2d7db;
    min-height: 100vh;
    max-width: 60%;
}

ul, a {
    text-decoration: none;
    list-style: none;
}
/*MAIN NAV*/
.logo {
    margin-right: auto;   
}
.logo img {
    width: 150px;
    height: 100px;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
    background-color: #1b203d;
}

.nav-link {
    display: inline-flex;
    padding: 0 20px;
}

.nav-link a {
    margin-left: 50px;
    color: aliceblue;
}

/*SUB NAV*/

#sub-nav {
    display: flex;
}

#sub-nav ul {
    display: inline-flex;
}

#sub-nav a {
    margin-right: 50px;
    font-size: 20px;
}

.search-bar {
    margin-left: 20%;
}


/*INDEX IMG*/
.container img {
    width: 200px;
}

.games img {
    width: 200px;
}