@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Maven+Pro&family=Metrophobic&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #a200ff;
}

body {
    width: 100%;
    background-color: #1b203d;
    font-family: "Metrophobic", sans-serif;
}

.gamesContainer, #content,.contact-container{
    max-width: 80%;
    margin: auto;

}

#featured-container, .games-content, .details-card, .gamesContainer{
    background-color: #090f2e;
}

h1 {
    font-size: 38px;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

h1, h2, h3, p {
    color: #f2f2f2;
}

/*Header*/

/*Navigation*/

.GameHub_Logo {
    width: 150px;
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navlinks ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navlinks li a {
    font-size: 23px;
    color: #f2f2f2;
    display: block;
    padding: 10px;
    transition: .2s ease;
}
.navlinks li a:hover {
    color: #ff7f50;
    background-color: #090f2e;
    border-radius: 5px;
    font-size: 24px;
}

.toggle-button {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #f2f2f2;
    border: 10px;
}

.actives {
    color: #ff7f50;
}
/*Main*/
#content {
    position: relative;
    min-height: 100vh;
    background-color: #1b203d;
    box-shadow: 
                0 8px 16px rgba(0,0,0,0.06),
                0 16px 32px rgba(0,0,0,0.06), 
                0 32px 64px rgba(0,0,0,0.06);
}

#featured-container {
    margin: auto;
    width: 100%;
    padding-top: 20px;
}


.games {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.games p {
    position: absolute;
    font-size: 40px;
    color: #ff7f50;
    text-align: justify;
    top: 240px;
    left: 100px;
}

.games img {
    position:absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;   
}

.games-container {
    box-sizing: border-box;
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    overflow: hidden;
}

.results {
    order: 1;
    text-align: center;
    margin: 10px;
}

.results img{
    width: 300px;
    height: 200px;
    border-radius: 5%;
    margin: 0 auto;
}

.results h2 {
    font-size: 18px;
}

.gamesContainer {
    position: relative;
    padding: 60px 120px 0 120px;
    min-height: 100vh;
    width: 100%;
}

.details-card {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
}

.gamesContainer img {
    width: auto;
    height: auto;
    border-radius: 5px;
}

.gamesContainer p {
    margin: 10px;
}

.gameDescription {
    display: block;
}

/*Account*/

.accountDetails {
    background-color: #090f2e;
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
}

.lastPurchase img, .selling img, .wishList img{
    width: 300px;
    height: 200px;
}
.lastPurchase, .selling, .wishList {
    display: flex;
    margin-top: 20px;
    overflow: hidden;
}

/*Games*/

.sgame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: #090f2e;
    padding: 10px 30px;
    width: 100%;
}

.games-column img {
    width: 250px;
    height: 150px;
    border-radius: 5%;
}

.card-details h4{
    color: #f2f2f2;
    margin: 10px;
    text-align: center;
}

.card-details p {
    color: #ff7f50;
    text-align: center;
}



/*Contact & Register Forms*/

.contact-container, .registerForm, .account-container{
    display: flex;
}

form {
    padding: 1rem;
    background-color: #090f2e;
    border-radius: 5%;
}

.registerForm, .contact-container{
    padding: 1rem;
    width: 100%;
    margin: auto;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    color: #f2f2f2;
}

input {
    width: 100%;
    margin: 2px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

#message {
    height: 150px;
}
button {
    background-color: #ff7f50;
    border: none;
    border-radius: 1rem;
    width: 200px;
    padding: 1rem;
    color: #f2f2f2;
    margin-top: 10px;
    cursor: pointer;

}

/*Checkout*/

.cardIcons {
    font-size: 40px;
}

.checkoutForm {
    display: flex;
    margin: auto;
    width: 600px;
    flex-direction: column;

}

.checkoutForm .row{
    display: flex;
}

.formError {
    display: none;
    color: crimson;
    font-size: 13px;
    margin-top: 2px;
}

/*Checkout Success*/

.successContainer {
    margin-top: 20px;
    text-align: center;
    background-color: #090f2e;
}

.successContainer p {
    margin-bottom: 10px;
}

.successbutton {
    width: 100%;
    align-items: center;
}

/*Footer*/

footer {
    position: relative; bottom:0;
    background-color: #1b203d;
    height: auto;
    padding: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 80%;
}

.footer-content {
    display: grid;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    font-size: 15px;
    line-height: 20px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer-content li a {
    font-size: 40px;
    color: #ff7f50;
}

.footer-content p {
    text-align: center;
}

.loader {
    border: 10px solid #3a3a3a;
    border-top: 10px solid #ff7f50;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1000px) {
  #content {
      min-height: 40vh;
  }  

}
@media only screen and (max-width: 1000px) {


    .gamesContainer, .contact-container{
        max-width: 100%;
    }
    /*Navigation*/
    .toggle-button {
        display: flex;
        top: 50px;
        right: 60px;
    }

    .navlinks {
        display: none;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start ;
    }
    .navlinks ul {
        width: 100%;
        flex-direction: column;
    }
   
    .navlinks li {
        text-align: center;
    }

    .navlinks.active {
        display: flex;
    }

    /*Games*/
    .games-content img{
        width: 250px;
        height: 160px;
        margin-right: 10px;
    }  

    .sbutton {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .accountDetails h2 {
        text-align: center;
    }
    .lastPurchase, .selling, .wishList {
        flex-direction: column;
    }

    .gamesContainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .gamesContainer img {
        width: 250px;
        height: 160px;
    }

    .details-card {
        flex-direction: column;
    }

    .details-card > div > div {
        margin-top: 20px;
    }

    .gameDescription {
        margin-top: 100px;
    }

    .registerForm {
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {

    #content {
        max-width: 100%;
    }
    .games-container {
        flex-direction: column;
    }

    .games p {
        top: 200px;
        left: 0;
    }

    .gameTitle {
        text-align: center;
    }

    .details-card {
        align-items: center;
    }

    .details-card > div > div {
        text-align: center;
        margin-top: 20px;
    }

    .gameDescription {
        margin-top: 130px;
    }

    .gameDescription h3{
        text-align: center;
    }

    .sgame {
        margin: 10px 0;
    }

    .accountDetails {
        margin: 10px 0;
    }

    .checkoutForm {
        margin: 0;
        width: 100%;
    }

}
