@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Maven+Pro&family=Metrophobic&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
    background-color: #1b203d;
}

header, .gamesContainer, #content {
    max-width: 80%;
    margin: auto;
    font-family: "Metrophobic", sans-serif;
}

.GameHub_Logo {
    width: 150px;
    height: 100px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #1b203d;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.06), 
                0 2px 4px rgba(0,0,0,0.06), 
                0 4px 8px rgba(0,0,0,0.06), 
                0 8px 16px rgba(0,0,0,0.06),
                0 16px 32px rgba(0,0,0,0.06), 
                0 32px 64px rgba(0,0,0,0.06);
}

#navlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navlinks li {
    padding: 0 20px;
}
#navlinks li a {
    font-size: 23px;
    color: #f2f2f2;
    transition: 0.3s ease;
}
#navlinks li a:hover {
    font-size: 24px;
    color: coral;
}

#navlinks li a:hover,
#navlinks li a.active {
    color: coral;
}

#subnavbar {
    justify-content: center;
}

#category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
    padding: 20px 80px;
}

#category li a:hover {
    color: coral;
}

#category li a {
    font-size: 23px;
    color: #f2f2f2;
    transition: 0.3s ease;
}

#content, .gamesContainer {
    background-color: rgb(208, 212, 223);
    border-radius: 1em 1em 0 0;
}
#content {
    position: relative;
    min-height: 100vh;
}

#featured-container {
    margin: auto;
    width: 50%;
    padding: 20px 0;
}

h3 {
    text-align: center;
    padding: 20px 0;
}

.games {
    display: flex;
    justify-content: space-around;
}

img {
    width: 200px;
    border-radius: 5%;
}

.games-container {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    overflow: hidden;
}

.results {
    text-align: center;
}

.results img{
    width: 300px;
    height: 200px;
    border-radius: 5%;
    margin: 0 auto;
}

.results h2 {
    font-size: 18px;
}

.gamesContainer {
    position: relative;
    margin-top: 20px;
    padding: 50px 100px 50px 100px;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "name name"
    "img det"
    "des des"
    "foot foot";
    grid-template-rows: 8% 25% 20%;
    grid-template-columns: 60% 40%;
}

.gamesContainer > .gameTitle {
    grid-area: name;
}

.gamesContainer > .details-card {
    grid-area: img;
}

.gamesContainer > .gamesDetails{
    grid-area: det;
}

.gamesContainer > .gameDescription {
    grid-area: des;
}

.gamesContainer img {
    width: 400px;
    height: auto;
}


footer {
    position: relative; bottom:0;
    background-color: #1b203d;
    height: auto;
    padding: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 80%;
}

.footer-content {
    display: grid;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    font-size: 15px;
    line-height: 20px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer-content li a {
    font-size: 40px;
    color: coral;
}

.footer-content p {
    text-align: center;
}
